@model Monografia.Models.Modelo_contenedor

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryformularios")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header">
                <h4>Nuevo cliente</h4>
            </div>
            <div class="card-body"  id="frmdatosclientes">
                <br>
                <form class="row g-3">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("Primer Nombre", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.cliente.Primer_nombre, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Segundo Nombre", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.cliente.Segundo_nombre, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("Primer Apellido", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.cliente.Primer_apellido, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Segundo Apellido", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.cliente.Segundo_apellido, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Label("Dirección", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.cliente.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("Teléfono", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.cliente.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Tipo de crédito", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.cliente.Id_tipocredito, new SelectList(Model.listatipocredito, "Id_tipocredito", "Descripcion"), "Seleccione tipo", new { @class = "form-select", @id = "dltipocredito" })
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"> Guardar</i>
                </button>

            </div>
        </div>
    }

<script id="prueba" type="text/template">
    <div class="row" id="dvcantcredito">
        <div class="col-md-6">
            @Html.Label("Cantidad de crédito", htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.cliente.Cantidad_credito, new { htmlAttributes = new { @class = "form-control" } })

        </div>

    </div>
</script>