@model IEnumerable<Monografia.Models.Modelo_contenedor>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}
@Styles.Render("~/Scripts/Datatable")

<div id="divinfogeneral" class="card border-start border-0 border-3 border-success">
    <div class="card-header">
        <h4>Estado cuenta del cliente</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                @Html.Label(" ", "Nombre Cliente:", htmlAttributes: new { @class = "form-label" })
                @Html.Label(" ", (string)ViewBag.nomcliente, htmlAttributes: new { @class = "form-label" })
            </div>
            <div class="col-md-4">
                @Html.Label(" ", "Tipo de crédito:", htmlAttributes: new { @class = "form-label" })
                @Html.Label(" ", (string)ViewBag.limitecredito, htmlAttributes: new { @class = "form-label" })
            </div>
            <div class="col-md-4">
                @Html.Label(" ", "Saldo Actual:", htmlAttributes: new { @class = "form-label" })
                @Html.Label(" ", (string)ViewBag.Saldoactual, htmlAttributes: new { @class = "form-label" })
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a data-modal="" href=@Url.Action("Abono", "Admin_clientes") class="btn btn-primary"> <i class="fa fa-cash-register">Abonar</i></a>
        <a data-modal="" href=@Url.Action("Lista_de_abonos", "Admin_clientes") class="btn btn-primary"> <i class="fa bi-list-check">Lista de abonos</i></a>

    </div>

</div>
<div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" style="@(ViewBag.Mensaje!=null ? "display: block;" : "display: none;")" role="alert">

    @Html.Raw(@ViewBag.Mensaje)

    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row">
    <div class="col col-lg-6">
        <div class="card border-start border-0 border-3 border-info">
            <div class="card-header">
                <h4>Facturas del cliente</h4>
            </div>
            <div class="card-body">
                <br>
                <br>
                <table id="tbfacturas" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Id de cliente")</th>
                            <th>@Html.DisplayName("Id de factura")</th>
                            <th>@Html.DisplayName("Fecha de Factura")</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idcliente2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idfacturas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechasfacturas)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <div class="col col-lg-6">

        <div class="card border-start border-0 border-3 border-info">
            <div class="card-header">
                <h4>Detalle de Factura</h4>
            </div>
            <div class="card-body">
                <br>
                <br>
                <table id="tbdetallefactura" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Producto")</th>

                            <th>@Html.DisplayName("Precio venta")</th>

                            <th>@Html.DisplayName("Cantidad")</th>

                            <th>@Html.DisplayName("Importe")</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        $(function () {
          
            var tablefacturas = $('#tbfacturas').DataTable({
                "language": {
                    "url": "/Scripts/es_es.json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false
                    }], dom: 'Pfrtip',
                "pageLength": 10,
                select: true

            })
        
            var tableDetalleFactura = $('#tbdetallefactura').DataTable({
                "language": {
                    "url": "/Scripts/es_es.json"
                }, dom: 'Pfrtip',
                "pageLength": 10, scrollX: true

            })
            var tableIds = ['tbdetallefactura']; // Lista de IDs de las tablas
            redimensionatable(tableIds);

           /* var table = $('#tbfacturas').dataTable();*/

            $('#tbfacturas tbody').on('click', 'tr', function (e) {
                let classList = e.currentTarget.classList;
                var rowselected = true;

                if (classList.contains('selected')) {
                    rowselected = false;
                }


                var position = tablefacturas.row(this).index();
                var hiddenColumnValue = tablefacturas.row(position).data()[0];
                var hiddenColumnValue2 = tablefacturas.row(position).data()[1];
                //form encoded data
                var dataType = 'application/json; charset=utf-8';
                //JSON data
                var data = {
                    idcliente: hiddenColumnValue,
                    idfactura: hiddenColumnValue2,
                    filaseleccionada:rowselected
                }


                $.ajax({
                    type: 'POST',
                    url: '/Admin_clientes/detallefactura',
                    dataType: 'json',
                    contentType: dataType,
                    data: JSON.stringify(data),
                    success: function (data) {
                   

                        $('#tbdetallefactura').DataTable({
                            destroy: true,
                            data: data.modelo_contenedor==null?data:data.modelo_contenedor,
                            language: {
                                url: "/Scripts/es_es.json"
                            }, dom: 'Pfrtip',
                            "pageLength": 10, scrollX: true,
                            columns: [
                                { data: 'Descripcionproducto' },
                                { data: 'Precioventa' },
                                { data: 'cantidad' },
                                { data: 'importe' }
                            ]
                        });
            
                        var miDiv = document.querySelector('.alert');
                
                        if (miDiv != null) {
                            miDiv.remove();
                        }

                        if (data.Mensaje != null) {
                            // Selecciona el div por su ID
                            var miDiv = document.getElementById('divinfogeneral');;

                            // Inserta el nuevo div después de divInfoGeneral
                            miDiv.insertAdjacentHTML("afterend", data.Mensaje);
                        }
                       
                    },
                    failure: function (errMsg) {
                        alert(errMsg)
                    }
                });


            });



        });
    </script>

}






