@model IEnumerable<Monografia.Models.Modelo_contenedor>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}
@Styles.Render("~/Content/datatables")

<div class="card">
    <div class="card-header">
        <h4>Estado cuenta del cliente</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                @Html.Label(" ", "Nombre Cliente:", htmlAttributes: new { @class = "form-label" })
                @Html.Label(" ", (string)Session["nomcliente"], htmlAttributes: new { @class = "form-label" })
            </div>
            <div class="col-md-4">
                @Html.Label(" ", "Tipo de crédito:", htmlAttributes: new { @class = "form-label"})
                @Html.Label(" ", Session["limitecredito"].ToString(), htmlAttributes: new { @class = "form-label"})
            </div>
            <div class="col-md-4">
                @Html.Label(" ", "Saldo Actual:", htmlAttributes: new { @class = "form-label"})
                @Html.Label(" ", Session["Saldoactual"].ToString(), htmlAttributes: new { @class = "form-label"})
            </div>
        </div>
    </div>

</div>
<div class="card">
    <div class="card-header">
        <h4>Facturas del cliente</h4>
    </div>
    <div class="card-body">
        <br>
        <br>
        <table id="tbfacturas" class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Id de cliente")</th>
                    <th>@Html.DisplayName("Id de factura")</th>
                    <th>@Html.DisplayName("Fecha de Factura")</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idcliente2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idfacturas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechasfacturas)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div class="card">
    <div class="card-header">
        <h4>Detalle de Factura</h4>
    </div>
    <div class="card-body">
        <br>
        <br>
        <table id="tbdetallefactura" class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Descripcion del producto")</th>

                    <th>@Html.DisplayName("Precio venta")</th>

                    <th>@Html.DisplayName("Cantidad")</th>

                    <th>@Html.DisplayName("Importe")</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>




@section Scripts {
   @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
    $(document).ready(function () {

        $('#tbfacturas').DataTable({
            "language": {
                "url": "/Scripts/es_es.json"
            },
            "columnDefs": [
           {
               "targets": [ 0 ],
               "visible": false,
               "searchable": false
           },
           {
               "targets": [ 1 ],
               "visible": false,
               "searchable": false
           }]

        })

        $('#tbdetallefactura').DataTable({
            "language": {
                "url": "/Scripts/es_es.json"
            }
        })

        var table = $('#tbfacturas').dataTable();

        $('#tbfacturas tbody').on('click', 'tr', function () {

            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');

            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                var position = table.fnGetPosition(this);
                var hiddenColumnValue = table.fnGetData(position)[0];
                var position2 = table.fnGetPosition(this);
                var hiddenColumnValue2 = table.fnGetData(position)[1];
                //form encoded data
                var dataType = 'application/json; charset=utf-8';
                //JSON data
                var data = {
                    idcliente: hiddenColumnValue,
                    idfactura: hiddenColumnValue2
                           }


                $.ajax({
                    type: 'POST',
                    url: '/Admin_clientes/detallefactura',
                    dataType: 'json',
                    contentType: dataType,
                    data: JSON.stringify(data),
                    success: function (data) {
                        $('#tbdetallefactura').dataTable().fnDestroy();
                        $('#tbdetallefactura').DataTable({
                                destroy: true,
                                data: data,
                                language: {
                                    url: "/Scripts/es_es.json"
                                },
                                columns: [
                                    { data: 'Descripcionproducto' },
                                    { data: 'Precioventa' },
                                    { data: 'cantidad' },
                                    { data: 'importe' }
                                ]
                            });

                    },
                    failure: function (errMsg) {
                        alert(errMsg)
                    }
                });

            }
        });



    });
    </script>

}






