@model IEnumerable<Monografia.Models.clientes>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}

@Styles.Render("~/Content/datatables")

   <div class="card">

    <div class="card-header">
        <h4 class="text-center">Clientes</h4>
    </div>

    <div class="card-body">
        <br>
        <div class="row col-md-2">
            <a data-modal="" href=@Url.Action("Create", "Admin_clientes") class="btn btn-primary"> <span class="fa fa-plus"></span> Agregar cliente</a>
        </div>

        <br>
        <br>
        <div class="row">

            <table id="tbclientes" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Nombres y Apellidos")
                        </th>
                        <th>
                            @Html.DisplayName("Dirección")
                        </th>
                        <th>
                            @Html.DisplayName("Teléfono")
                        </th>
                        <th>
                            @Html.DisplayName("Tipo de Crédito")
                        </th>
                        <th>
                            @Html.DisplayName("Estado")
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Primer_nombre)
                                @Html.DisplayFor(modelItem => item.Segundo_nombre)
                                @Html.DisplayFor(modelItem => item.Primer_apellido)
                                @Html.DisplayFor(modelItem => item.Segundo_apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tipo_credito.Descripcion)
                            </td>
                            <td>
                                @if (item.Estado == 1)
                                {

                                    <div class="form-control " style="width:100%; border-radius:100px;color:#37c406;text-align:center">
                                        Activo

                                    </div>
                                }
                                else
                                {
                                    <div class="form-control " style="width:100%; border-radius:100px;color:#d00b0b;text-align:center">
                                        Inactivo

                                    </div>
                                }
                            </td>
                            <td>
                                <a data-modal="" href=@Url.Action("Edit", "Admin_clientes",new { id = item.Idcliente }) class="btn btn-success"> <span class="fa fa-edit"></span></a>
                                <a data-modal="" href=@Url.Action("Delete", "Admin_clientes",new { id = item.Idcliente }) class="btn btn-danger"> <span class="fa fa-trash"></span></a>
                                <a href=@Url.Action("Estado_cuenta", "Admin_clientes", new { id = item.Idcliente }) class="btn btn-info"> <span class="fa fa-accessible-icon"></span></a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>

    @section Scripts
{
        @Scripts.Render("~/bundles/datatables")
        <script type="text/javascript">
            $(document).ready(function () {
                $('#tbclientes').DataTable({
                    "language": {
                        "url": "/Scripts/es_es.json"
                    }
                })
            });
           
        </script>
    }
