@model IEnumerable<Monografia.Models.Modelo_contenedor>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}
@Styles.Render("~/Scripts/Datatable")
<div class="card border-top border-0 border-3 border-success">
    <div class="card-header">
        <h4>Reporte de Saldo</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                @Html.Label(" ", "Total de créditos pendientes ", htmlAttributes: new { @class = "form-label col-md-8", @style = "color:forestgreen" })
                @Html.Label(" ", (string)Session["cantidad_saldo"], htmlAttributes: new { @class = "form-label col-md-6", @style = "color:forestgreen" })
            </div>
        </div>
    </div>
</div>
<div class="card border-start border-0 border-3 border-info">
  
    <div class="card-body">
        <br>
        <br>
        <table id="tbreportesaldo" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Número de cliente")
                    </th>

                    <th>
                        @Html.DisplayName("Nombre / Dirección")
                    </th>
                    <th>
                        @Html.DisplayName("Teléfono")
                    </th>
                    <th>
                        @Html.DisplayName("Tipo de Crédito")

                    </th>
                    <th>
                        @Html.DisplayName("Saldo Actual")

                    </th>
                    <th>
                        @Html.DisplayName("Último Pago")

                    </th>


                </tr>

            </thead>


            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idcliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                            <br>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.limitecredito)
                        </td>
                        <td style="background-color :aquamarine">
                            @Html.DisplayFor(modelItem => item.saldo)
                        </td>
                        <td style="background-color:#ac9cb5">
                            @Html.DisplayFor(modelItem => item.fechapago)
                        </td>

                    </tr>
                </tbody>
            }
        </table>
    </div>
    </div>



@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tbreportesaldo').DataTable({
                    "language": {
                        "url": "/Scripts/es_es.json"
                    }
                })
            });

    </script>
}







