@model Monografia.Models.Modelo_contenedor

@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm())
{
<div class="card">
    <div class="card-header">
        <h2>Agregar usuario</h2>
    </div>
    <div class="card-body">
        <div class="row col-lg-12">
            @Html.Label("Primer Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.usuario_detalle.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="row col-lg-12">
            @Html.Label("Primer Apellido", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.usuario_detalle.Apellido, new { htmlAttributes = new { @class = "form-control" } })

        </div>

        <div class="row col-lg-12">
            @Html.Label("Dirección", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.usuario_detalle.Direccion, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="row col-lg-12">
            @Html.Label("Teléfono", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.usuario_detalle.Telefono, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="row col-lg-12">
            @Html.Label("Login", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.usuarios_tienda.Login, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="row col-lg-12">
            @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.usuarios_tienda.Contraseña, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="row col-lg-12">
            @Html.Label("Perfil", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.productos.Iddepartamento, new SelectList(Model.listadepartamento, "Iddepartmento", "Descripcion"), "Seleccione Perfil", new { @class = "form-control col-lg-4 col-md-6 col-xs-12" })
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"> Guardar</i>
        </button>
    </div>
</div>
}











