@model Monografia.Models.usuarios_tienda


@Scripts.Render("~/bundles/jqueryval")
<div class="card">
    <div class="card-header">
        <h3>¿Está seguro de eliminar este usuario?</h3>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">


            <dt>
                @Html.Display("Nombre")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.usuario_detalle.Nombre)
            </dd>

            <dt>
                @Html.DisplayName("Perfil")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Perfil)
            </dd>

        </dl>
    </div>
    <div class="card-footer">
        @using (Html.BeginForm())
        {
            <div class="row col-lg-12">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"> Guardar</i>
                </button>
   
            </div>
        }
    </div>
</div>
