@model Monografia.Models.Modelo_contenedor
@Scripts.Render("~/bundles/jqueryval")
<div class="card">
    <div class="card-header">
        <h2>Detalle usuarios</h2>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">

            <dt>
                @Html.Display("Nombre")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.usuario_detalle.Nombre)
            </dd>

            <dt>
                @Html.Display("Dirección")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.usuario_detalle.Direccion)
            </dd>

            <dt>
                @Html.Display("Teléfono")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.usuario_detalle.Telefono)
            </dd>
        </dl>
    </div>

</div>
