@model Monografia.Models.Modelo_contenedor


@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm())
{
    <div class="card">
        <div class="card-header">
            <h4>Editar usuario</h4>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model => model.usuarios_tienda.Idusuario)
            <br>
            <form class="row g-3">
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label("Primer Nombre", htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.usuario_detalle.Primer_nombre, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Segundo Nombre", htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.usuario_detalle.Segundo_apellido, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label("Primer Apellido", htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.usuario_detalle.Primer_apellido, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Segundo Apellido", htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.usuario_detalle.Segundo_apellido, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("Dirección", htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.usuario_detalle.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label("Teléfono", htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.usuario_detalle.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Perfil", htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.usuario.idperfil, new SelectList(Model.listaperfiles, "Idperfil", "Descripcion"), "Seleccione Perfil", new { @class = "form-control" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label("Login", htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.usuarios_tienda.Login, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-md-6">
                        @Html.Label("Contraseña", htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.usuarios_tienda.Contraseña, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </form>

        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"> Guardar</i>
            </button>
        </div>
    </div>

}
 



