@model Monografia.Models.productos

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}


<div class="card">
    <h4 class="text-center">Inventario</h4>
</div>
@using (Html.BeginForm("ajuste_inventario", "Admin_inventario", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h4>Buscar producto</h4>
        </div>
        <div class="card-body">
            <br>
            <div class="row col-md-6">
                @Html.Label("Código de producto", htmlAttributes: new { @class = "form-label" })
                <div class="input-group mb-3">
                    @Html.Editor("id_producto", new { htmlAttributes = new { @class = "form-control", @aria_describedby = "btnbuscar" } })

                    <button class="btn btn-outline-secondary" type="submit" id="btnbuscar">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

        </div>

    </div>
}

@using (Html.BeginForm("ajuste_inventario2", "Admin_inventario", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h4>Ajustar inventario</h4>
        </div>
        <div class="card-body">
            <br>
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("Descripción", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
                <div class="col-md-6">
                    @Html.Label("Cantidad actual", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Cantidad_actual, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("Cantidad a ajustar", htmlAttributes: new { @class = "form-label" })
                    @Html.Editor("agregar_cantidad", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save">
                            Guardar
                        </i>
                    </button>
                </div>
            </div>
        </div>

    </div>
}


 



