@model Monografia.Models.productos

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}


<div class="card border-top border-0 border-3 border-success">
    <div class="card-header"><h4 class="text-center">Inventario</h4> </div>
</div>
<div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" style="@(ViewBag.Mensaje!=null ? "display: block;" : "display: none;")" role="alert">

    @Html.Raw(@ViewBag.Mensaje)

    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
@using (Html.BeginForm("ajuste_inventario", "Admin_inventario", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card border-start border-0 border-3 border-info">
        <div class="card-header">
            <h4>Buscar producto</h4>
        </div>
        <div class="card-body">
            <br>
            <div class="row col-md-6">
                @Html.Label("Código de producto", htmlAttributes: new { @class = "form-label" })
                <div class="input-group mb-3">
                    @{
                        string cod_producto = "";
                        if (ViewBag.cod_producto != null)
                        {
                            cod_producto = Convert.ToString(ViewBag.cod_producto);
                        }
                    }
                    @Html.Editor("cod_producto", new { htmlAttributes = new { @class = "form-control", @aria_describedby = "btnbuscar", @value = cod_producto, @min = "0", @onkeypress = "return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"  } })

                    <button class="btn btn-outline-secondary" type="submit" id="btnbuscar">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

        </div>

    </div>
}

@using (Html.BeginForm("procesar_ajuste_inventario", "Admin_inventario", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card border-start border-0 border-3 border-info">
        <div class="card-header">
            <h4>Ajustar inventario</h4>
        </div>
        <div class="card-body">
            <br>
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("Descripción", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
                <div class="col-md-6">
                    @Html.Label("Cantidad actual", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Cantidad_actual, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("Cantidad a ajustar", htmlAttributes: new { @class = "form-label" })
                    @Html.Editor("agregar_cantidad", new { htmlAttributes = new { @class = "form-control", @min = "0", @onkeypress = "return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" } })
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save">
                            Guardar
                        </i>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <input type="hidden" id="Mensaje" value="@ViewBag.mensajeexito" />
}








