@model Monografia.Models.Modelo_contenedor


@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("editar_inventario", "Admin_inventario", FormMethod.Post))
{
    <div class="card">
        <div class="card-header">
            <h2>Editar inventario</h2>
        </div>
        <div class="card-body">
            <div class="row col-lg-12">
                @Html.Label("Código de producto", htmlAttributes: new { @class = "control-label col-lg-4 col-md-6 col-xs-12" })
                @Html.EditorFor(model => model.productos.Codigo_producto, new { htmlAttributes = new { @class = "form-control col-lg-4 col-md-6 col-xs-12", @readonly = true } })
            </div>
            <br>
            <div class="row col-lg-12">
                @Html.Label("Cantidad", htmlAttributes: new { @class = "control-label col-lg-4 col-md-6 col-xs-12" })
                @Html.Editor("agregar_cantidad", new { htmlAttributes = new { @class = "form-control col-lg-4 col-md-6 col-xs-12" } })
            </div>

        </div>
        <div class="card-footer">
            <div class="row col-lg-12">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save">Guardar</i>
                </button>
            </div>
        </div>
    </div>
}



