@model IEnumerable<Monografia.Models.Modelo_contenedor>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}
@Styles.Render("~/Content/datatables")
<div class="card">
    <div class="card-header">
        <h4>Productos Bajos en inventario</h4>
    </div>
  
    <div class="card-body">
        <br>
        <div class="row col-md-6">
            @using (Html.BeginForm("exportarexcel", "Admin_inventario", FormMethod.Post))
            {
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-file-excel">&nbsp;Exportar Excel</i>
                </button>
            }
        </div>
        <br>
        <br>
        <table id="tbprodbajos" class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayName("Código de producto")
                </th>
                <th>
                    @Html.DisplayName("Descripción")
                </th>
                <th>
                    @Html.DisplayName("Precio de venta")
                </th>
                <th>
                    @Html.DisplayName("Cantidad actual")
                </th>
                <th>
                    @Html.DisplayName("Cantidad mínima")
                </th>
                <th>
                    @Html.DisplayName("Descripción de departamento")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.codigo_producto1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcionproducto1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.preciodeventa1)
                    </td>
                    <td class="text-danger " style="font-weight:bold">
                        @Html.DisplayFor(modelItem => item.cantidaactual1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidaminima1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripciondepartamento)
                    </td>
                </tr>
            }

        </table>
    </div>

</div>




@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tbprodbajos').DataTable({
                    "language": {
                        "url": "/Scripts/es_es.json"
                    }
                })
            });

    </script>
}

