@model IEnumerable<Monografia.Models.Modelo_contenedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}

<h2>Productos Bajos en inventario</h2>

@using (Html.BeginForm("exportarexcel", "Admin_inventario", FormMethod.Post))
{ 
<p>
   
            <input type="submit" value="exportar excel" class="btn btn-primary" />
</p>
}

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Código de producto")
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Precio de venta")
        </th>  
        <th>
            @Html.DisplayName("Cantidad actual")
        </th>
        <th>
            @Html.DisplayName("Cantidad mínima")
        </th>
        <th>
            @Html.DisplayName("Descripción de departamento")
        </th>  
    </tr>

@foreach (var item in Model) 
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_producto1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionproducto1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preciodeventa1)
        </td>
        <td class="text-danger " style="font-weight:bold">
            @Html.DisplayFor(modelItem => item.cantidaactual1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidaminima1)
        </td>  
        <td>
            @Html.DisplayFor(modelItem => item.descripciondepartamento)
        </td>
    </tr>
}

</table>
