@model Monografia.Models.Modelo_Config

@{
    ViewBag.Title = "Impuestos";
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}

<div class="card border-start border-0 border-3 border-info">

    <div class="card-header">
        <h4 class="text-center">Impuestos</h4>
    </div>

    <div class="card-body">
       @using (Html.BeginForm("Impuestos", "Config"))
       {
        <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">
            </span> Guardar Cambios
        </button>

        <br><br />
        <ul class="list-group">
            @for (int i = 0; i < Model.Lista_opciones.Count; i++)
            {
                <li class="list-group-item">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @Html.CheckBoxFor(m => Model.Lista_opciones[i].SELECCIONADO_OP)
                            @Model.Lista_opciones[i].NOMBRE_OP
                        </div>
                        <div class="panel-body">
                            @Model.Lista_opciones[i].DESCRIPCION_OP
                            @Html.HiddenFor(m => Model.Lista_opciones[i].ID_OP)
                            @Html.HiddenFor(m => Model.Lista_opciones[i].DETALLE_EXT1)
                            @Html.HiddenFor(m => Model.Lista_opciones[i].DETALLE_EXT2)
                            @Html.HiddenFor(m => Model.Lista_opciones[i].DETALLE_EXT3)
                        </div>
                    </div>
                </li>
            }
        </ul>
       }

    </div>
</div>




