@model Monografia.Models.Modelo_Config

@{
    ViewBag.Title = "Perfiles";
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}

<h2>Perfiles</h2>

<div class="panel panel-default">
    <div class="panel-heading">Modificar o Crear perfil</div>
    <div class="panel-body">
        <label for="txtperfil"> Nombre perfil: </label>
        @using (Html.BeginForm("Perfiles", "Config"))
        {
            <div class="input-group mb-3">
                <div class="input-group mb-3">
                    @Html.TextBox("txtperfil", null, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">
                            </span> Guardar Perfil
                        </button>
                    </span>
                </div>
            </div>

            @*@Html.TextBox("txtperfil",null, new { @class = "form-control" })
                <br>
                <input type="submit" value="Guardar Perfil" class="btn btn-success" />*@
            <br> <br />

            Boolean grupo = false;
            int PNG = 0;
            for (int i = 0; i < Model.checksboxes.Count; i++)
            {

                if (Model.checksboxes[i].inicio_grupo)
                {
                    PNG = i;
                    grupo = true;
                }
                else if (grupo)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                @Model.checksboxes[PNG].nombre_grupo
                            </h3>
                        </div>
                        <div class="panel-body">
                            @do
                            {

                                @Html.CheckBoxFor(m => Model.checksboxes[PNG].seleccionado)
                                @Model.checksboxes[PNG].texto
                                @Html.HiddenFor(m => Model.checksboxes[PNG].id)
                                @Html.HiddenFor(m => Model.checksboxes[PNG].texto)
                                @Html.HiddenFor(m => Model.checksboxes[PNG].nombre_grupo)
                                @Html.HiddenFor(m => Model.checksboxes[PNG].inicio_grupo)
                                <br>
                                PNG = PNG + 1;
                            } while (PNG < Model.checksboxes.Count && Model.checksboxes[PNG].nombre_grupo.Contains(Model.checksboxes[PNG - 1].nombre_grupo));

                        </div>
                    </div>
                    grupo = false;
                }


            }

        }
    </div>
</div>



<label>Perfiles actuales: </label>
<br>
<ul class="list-group">
    @foreach (var item in Model.perfiles_usuarios)
    {
        <li class="list-group-item clearfix">
            @Html.DisplayFor(modelItem => item.nom_perfil)
            <div class="pull-right">
                <div class="btn-group" role="group" aria-label="">

                    <a href="@Url.Action("Modificar_pf", "Config", new { nombre_perfil = item.nom_perfil })" class="btn btn-success btn-sm">
                        Modificar
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("Eliminar_pf", "Config", new { nombre_perfil = item.nom_perfil })" class="btn btn-danger btn-sm">
                        Eliminar
                        <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
                    </a>


                    @*@Html.ActionLink("Modificar", "Modificar", new { nombre_perfil = item.nom_perfil }, new { @class = "btn btn-success btn-sm" })
                        @Html.ActionLink("Eliminar", "Eliminar", new { nombre_perfil = item.nom_perfil }, new { @class = "btn btn-danger btn-sm" })*@
                </div>
            </div>
        </li>
    }
</ul>
