@model Monografia.Models.Modelo_Config

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}
@using (Html.BeginForm("Simbolodemoneda", "Config"))
{
    <div class="card border-start border-0 border-3 border-info">

        <div class="card-header">
            <h4 class="text-center">Simbolo de moneda</h4>
        </div>

        <div class="card-body">




            <br>
            <div class="row">
                @for (int i = 0; i < Model.Lista_opciones.Count; i++)
                {


                    <div class="col-md-3">
                        @Model.Lista_opciones[i].NOMBRE_OP



                        @if (Model.Lista_opciones[i].DETALLE_EXT2 != null)
                        {
                            @Html.TextBox("txtsimbolo" + i.ToString(), Model.Lista_opciones[i].DETALLE_EXT1, new { @class = "form-control", type = Model.Lista_opciones[i].DETALLE_EXT2 })
                        }
                        else
                        {
                            @Html.TextBox("txtsimbolo" + i.ToString(), Model.Lista_opciones[i].DETALLE_EXT1, new { @class = "form-control" })
                        }

                        @Html.HiddenFor(m => Model.Lista_opciones[i].ID_OP)
                        @Html.HiddenFor(m => Model.Lista_opciones[i].DETALLE_EXT1)
                        @Html.HiddenFor(m => Model.Lista_opciones[i].DETALLE_EXT2)
                        @Html.HiddenFor(m => Model.Lista_opciones[i].DETALLE_EXT3)
                    </div>
                    <br>
                }
            </div>


        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"> Guardar</i>
            </button>
        </div>
    </div>
}


