@model Monografia.Models.Modelo_Config

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}
<div class="card border-start border-0 border-3 border-info">

    <div class="card-header">
        <h4 class="text-center">Unidades de medida</h4>
    </div>

    <div class="card-body">

        @using (Html.BeginForm("Unidadesdemedida", "config"))
        {
            @*<input type="submit" value="Guardar Cambios" class="btn btn-success" />*@
            <button class="btn btn-success" type="submit">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">
                </span> Guardar Cambios
            </button>

            <br><br />

            <ul class="list-group">
                @for (int i = 0; i < Model.Lista_opciones.Count; i++)
                {
                    <li class="list-group-item">
                        @Model.Lista_opciones[i].DETALLE_EXT2
                        <br><br />
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Model.Lista_opciones[i].NOMBRE_OP
                            </div>
                            <div class="panel-body">
                                <div class="form-inline">
                                    <div class="col-xs-1">
                                        @Html.TextBox("txtunidad" + i.ToString(), Model.Lista_opciones[i].DETALLE_EXT1, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                @Html.HiddenFor(m => Model.Lista_opciones[i].ID_OP)
                                @Html.HiddenFor(m => Model.Lista_opciones[i].DETALLE_EXT1)
                                @Html.HiddenFor(m => Model.Lista_opciones[i].DETALLE_EXT2)
                                @Html.HiddenFor(m => Model.Lista_opciones[i].DETALLE_EXT3)
                            </div>
                        </div>
                    </li>
                }
            </ul>

        }

    </div>
</div>
