

<!DOCTYPE html>
<html lang="es">

<head>
   
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Scripts/vendor/img/favicon.png" rel="icon">
    <link href="~/Scripts/vendor/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
  
 
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/csscustomproyecto")
    @Styles.Render("~/Content/fontawesome/css")
    <link href="~/Content/toast/toastr.css" rel="stylesheet"/>
    
     
    <style>
        .form-control:focus {
            border-color: #D286FE;
            box-shadow: 0 0 0 0.25rem rgba(210, 134, 254, 0.25);
        }
    </style>
   
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">

            <a href="@Url.Action("Paginainicio", "Usuariologin")" class="logo d-flex align-items-center">
                <img src="~/Scripts/vendor/img/logo.png" alt="">
                <span class="d-none d-lg-block">LyNAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->



        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                @{
                    Html.RenderAction("mostrarnotificaciones", "Usuariologin");
                }

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/Scripts/vendor/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">¡Hola! @Session["Nombreuusuario"].ToString()</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Perfil de usuario:</h6>
                            <span>@Session["Perfil"].ToString()</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Logout", "Usuariologin")">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar Sesión</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Paginainicio", "Usuariologin")">
                    <i class="bi bi-grid"></i>
                    <span>Inicio</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Ventas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Venta", "Facturacion")">
                            <i class="bi bi-circle"></i><span>Facturación</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lista_Facturas", "Facturacion")">
                            <i class="bi bi-circle"></i><span>Impresión</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Corte", "Facturacion")">
                            <i class="bi bi-circle"></i><span>Corte</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Lista_clientes", "Admin_clientes")">
                    <i class="bi bi-people"></i><span>Clientes</span>
                </a>

            </li><!-- End Clientes Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#prod-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-view-list"></i><span>Productos</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="prod-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Lista_productos", "Admin_productos")">
                            <i class="bi bi-circle"></i><span>Gestion de productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lista_promocion", "Admin_productos")">
                            <i class="bi bi-circle"></i><span>Promociones</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Productos Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#inv-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Inventario</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="inv-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("agregar_inventario", "Admin_inventario")">
                            <i class="bi bi-circle"></i><span>Agregar inventario</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ajuste_inventario", "Admin_inventario")">
                            <i class="bi bi-circle"></i><span>Ajustar inventario</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Inventario Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Administración</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Lista_usuario", "Admin_usuario")">
                            <i class="bi bi-circle"></i><span>Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lista_perfiles", "Config")">
                            <i class="bi bi-circle"></i><span>Perfiles</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lista_proveedores", "Admin_proveedores")">
                            <i class="bi bi-circle"></i><span>Proveedores</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lista_departamentos", "Admin_productos")">
                            <i class="bi bi-circle"></i><span>Departamentos</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sesiones_usuario", "Usuariologin")">
                            <i class="bi bi-circle"></i><span>Sesiones de usuarios</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Administración Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Reportes</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("reporte_inventario", "Admin_inventario")">
                            <i class="bi bi-circle"></i><span>Reporte de Inventario</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("productos_bajos_inventario", "Admin_inventario")">
                            <i class="bi bi-circle"></i><span>Productos bajos en Inventario</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lista_Reporte_Saldo", "Admin_clientes")">
                            <i class="bi bi-circle"></i><span>Reporte de saldos</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Ventas_por_periodo","Facturacion")">
                            <i class="bi bi-circle"></i><span>Ventas por periodo</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("reporte_de_movimientos", "Facturacion")">
                            <i class="bi bi-circle"></i><span>Reporte de Movimientos</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End reporte Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Menu", "Config")">
                    <i class="bi bi-gear"></i>
                    <span>Configuración</span>
                </a>
            </li><!-- End configuracion Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Paginainicio","Usuariologin")">Inicio</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            @RenderBody()
        </section>
        <br />
        <br />
        <br />
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer mt-auto py-3 bg-light fixed-bottom">
        <div class="copyright">
            &copy; Copyright <strong><span>LyNAdmin</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
            Diseñado por DAAM S.A
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerycustomproyecto")
    @Scripts.Render("~/bundles/jqueryformularios")
    <script src="~/Content/toast/toastr.js"></script>
    <script src="~/Scripts/showtoast.js"></script>
    @Scripts.Render("~/bundles/modalform")

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("Scripts", required: false)
</body>

</html>


<div class="modal fade" id="modalGenerica" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id='contentModal' class="modal-body">
                ...
            </div>

        </div>
    </div>
</div>






