@model IEnumerable<Monografia.Models.productos>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}
@Styles.Render("~/Content/datatables")
<div class="card">
    <div class="card-header">
        <h4 class="text-center">Productos</h4>
    </div>

    <div class="card-body">
        <br>
        <div class="row">
            <div class="col-md-2">
                <a data-modal="" href=@Url.Action("Create", "Admin_productos") class="btn btn-primary"> <i class="fa fa-plus"></i>Agregar productos</a>
            </div>
        </div>
        <br>
        <br>
        <table id="tbproductos" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Código de producto")
                    </th>
                    <th>
                        @Html.DisplayName("Descripción")
                    </th>
                    <th>
                        @Html.DisplayName("Cantidad actual")
                    </th>
                    <th>
                        @Html.DisplayName("Cantidad minima")
                    </th>
                    <th>
                        @Html.DisplayName("Posee inventario")
                    </th>
                    <th>
                        @Html.DisplayName("Estado")
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo_producto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad_actual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad_minima)
                        </td>
                        <td>
                            @if (item.Usa_inventario == 1)
                {

                                <div class="form-control" style="width:40%; border-radius:100px;color:#37c406;text-align:center">
                                    Si

                                </div>
                            }
                            else
                            {
                                <div class="form-control" style="width:40%; border-radius:100px;color:#d00b0b;text-align:center">
                                    No
                                </div>
                            }
                        </td>

                        <td>
                            @if (item.Estado == 1)
                {

                                <div class="form-control " style="width:100%; border-radius:100px;color:#37c406;text-align:center">
                                    Activo

                                </div>
                            }
                            else
                            {
                                <div class="form-control " style="width:100%; border-radius:100px;color:#d00b0b;text-align:center">
                                    Inactivo

                                </div>
                            }
                        </td>
                        <td class="text-center">
                            <a data-modal="" href=@Url.Action("Edit", "Admin_productos", new { id = item.Idproducto }) class="btn btn-success rounded-circle"> <span class="fa fa-edit"></span></a>
                            <a data-modal="" href=@Url.Action("Delete", "Admin_productos", new { id = item.Idproducto, id2 = item.Codigo_producto }) class="btn btn-danger rounded-circle"> <span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tbproductos').DataTable({
                    "language": {
                        "url":"/Scripts/es_es.json"
                    }
                })
            });
    </script>
}
