@model Monografia.Models.departamento

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h4>Nuevo Departamento</h4>
        </div>
        <div class="card-body">
            <br>
            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" style="@(ViewBag.Mensaje!=null ? "display: block;" : "display: none;")" role="alert">

                @Html.Raw(@ViewBag.Mensaje)

                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form class="row g-3">

                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return lettersOnly(event,'D');" } })
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save">Guardar</i>
                </button>
        </div>
    </div>

}

