@model Monografia.Models.departamento


@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h4>Editar departamento</h4>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model => model.Iddepartmento)
            <br>
            <form class="row g-3">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("Descripción", htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </form>
        </div> 
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"> Guardar</i>
            </button>

        </div>
    </div>
}

