@model IEnumerable<Monografia.Models.departamento>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}
@Styles.Render("~/Content/datatables")
<div class="card">
    <div class="card-header">
        <h4>Departamentos</h4>
    </div>
   
      
        <div class="card-body">
            <br>
            <div class="row col-md-2">
                <a data-modal="" href=@Url.Action("Create", "Admin_departamentos") class="btn btn-primary"> <i class="fa fa-plus"></i> Agregar Departamento</a>
            </div>
            <br>
            <br>
            <table id="tbdepartamentos" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Descripción")
                        </th>
                        <th>
                            @Html.DisplayName("Estado")
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @if (item.Estado == 1)
                                {

                                    <div class="form-control " style="width:40%; border-radius:100px;color:#37c406;text-align:center">
                                        Activo

                                    </div>
                                }
                                else
                                {
                                    <div class="form-control " style="width:40%; border-radius:100px;color:#d00b0b;text-align:center">
                                        Inactivo

                                    </div>
                                }
                            </td>
                            <td class="text-center">
                                <a data-modal="" href=@Url.Action("Edit", "Admin_departamentos", new { id = item.Iddepartmento }) class="btn btn-success rounded-circle"> <i class="fa fa-edit"></i></a>
                                <a data-modal="" href=@Url.Action("Delete", "Admin_departamentos", new { id = item.Iddepartmento }) class="btn btn-danger rounded-circle"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
</table>
        </div>

    </div>


@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tbdepartamentos').DataTable({
                    "language": {
                        "url": "/Scripts/es_es.json"
                    }
                })
            });

    </script>
}
