@model Monografia.Models.Modelo_contenedor.Factura


@Scripts.Render("~/bundles/jqueryval")
<div class="card">
    <div class="card-header">
        <h4>¿Está seguro de eliminar este producto de la lista de compras?</h4>
    </div>
    <div class="card-body">
        <br />
        @Html.Hidden("numeroticket", (int)ViewBag.numticket)
        @Html.Hidden("codigoproducto", (int)ViewBag.codproducto)
        <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" style="@(ViewBag.Mensaje!=null ? "display: block;" : "display: none;")" role="alert">

            @Html.Raw(@ViewBag.Mensaje)

            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        @if (Model.listatickets!=null)
        {
            foreach (var item in Model.listatickets)
            {


            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Numero de Ticket")
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.Numero_ticket)
                </dd>
                @if (item.listaproductos!=null)
                {
                    foreach (var item2 in item.listaproductos)
                    {
                        <dt>
                            @Html.DisplayName("Código de Producto")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item2.CodProd)
                        </dd>

                        <dt>
                            @Html.DisplayName("Descripción")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item2.Desc)
                        </dd>

                        <dt>
                            @Html.DisplayName("Precio de Venta")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item2.prec_vent)
                        </dd>

                        <dt>
                            @Html.DisplayName("Cantidad")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item2.Cant)
                        </dd>
                        <dt>
                            @Html.DisplayName("Importe")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item2.Impor)
                        </dd>
                    }
                }
                </dl>
            }
        }
    </div>
    <div class="card-footer text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            if (Model.listatickets != null)
            {
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"> Guardar</i>
                </button>
                }
            }
        </div>
</div>

 
   

