@model IEnumerable<Monografia.Models.clientes>
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm("Facturar", "Facturacion", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <div class="card">
        <div class="card-header">
            <h4>Cobrar</h4>
        </div>
        <div class="card-body">
            @Html.Hidden("numeroticket", (int)ViewBag.numticket)
            @Html.Hidden("idcliente")

            <br>

            @if (ViewBag.Mensaje == null)
            {
                <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" style="@((ViewBag.cobroesmenor!=null && ViewBag.cobroesmenor!=null) || ViewBag.metodospago!=null ? "display: block;" : "display: none;")" role="alert">

                    @Html.Raw(@ViewBag.cobroesmenor == null ? @ViewBag.metodospago : ViewBag.cobromenorventa)

                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered justify-content-center" id="borderedTab" role="tablist">
                    <li class="nav-item active d-flex flex-column align-items-center" role="presentation">
                        <img src="~/images/debit-card.png" style="width:110px; margin-bottom:5px;" class="nav-link active" id="imgcredito" data-bs-toggle="tab" data-bs-target="#bordered-credito" role="tab" aria-controls="home" aria-selected="true" />
                        <span>Crédito</span>
                    </li>

                    <li class="nav-item d-flex flex-column align-items-center" role="presentation">
                        <img src="~/images/cash-machine.png" style="width:110px; margin-bottom:5px;" class="nav-link" id="imgefectivo" data-bs-toggle="tab" data-bs-target="#bordered-efectivo" role="tab" aria-controls="home" aria-selected="true" />
                        <span>Efectivo o transf.</span>
                    </li>

                    <li class="nav-item d-flex flex-column align-items-center" role="presentation">
                        <img src="~/images/cash-flow.png" style="width:110px; margin-bottom:5px;" class="nav-link" id="imgdolares" data-bs-toggle="tab" data-bs-target="#bordered-dolares" role="tab" aria-controls="home" aria-selected="true" />
                        <span>Dólares</span>
                    </li>
                </ul>
                <div class="tab-content pt-2" id="borderedTabContent">
                    <div class="tab-pane fade show active" id="bordered-credito" role="tabpanel" aria-labelledby="home-tab">
                        <br />
                        <br />
                        @if (ViewBag.Listclientact == null)
                        {
                            <table id="tbclientes" class="table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Nombres y Apellidos")
                                        </th>
                                        <th>
                                            Seleccione cliente
                                        </th>
                                    </tr>

                                </thead>

                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Primer_nombre)
                                                @Html.DisplayFor(modelItem => item.Segundo_nombre)
                                                @Html.DisplayFor(modelItem => item.Primer_apellido)
                                                @Html.DisplayFor(modelItem => item.Segundo_apellido)
                                            </td>
                                            <td class="text-center">

                                                <button type="button" id="btn-select" value="@item.Idcliente" style="display: inline-block;" class="btn btn-outline-primary btn-select" onclick="selectButton(this)">Seleccionar</button>
                                                <button type="button" id="btn-checked" style="display: none;" onclick="desselectButton(this)" class="btn btn-outline-success btn-checked"><i class="fas fa-check"></i></button>
                                            </td>
                                        </tr>
                                    }




                                </tbody>

                            </table>
                        }
                        else
                        {
                            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" style="@(ViewBag.Listclientact!=null ? "display: block;" : "display: none;")" role="alert">

                                @Html.Raw(@ViewBag.Listclientact)

                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                    </div>
                    <div class="tab-pane fade" id="bordered-efectivo" role="tabpanel" aria-labelledby="profile-tab">
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-sm-5">
                                @Html.Label("Total a pagar:C$", htmlAttributes: new { @class = "form-label" })
                            </div>
                            <div class="col-sm-4">
                                @Html.Raw(@ViewBag.totalpago)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                @Html.Label("Monto en efectivo", htmlAttributes: new { @class = "form-label" })
                            </div>
                            <div class="col-sm-4">
                                @Html.Editor("montopago", new { htmlAttributes = new { @class = "form-control", @oninput = "handleChange(this)", @value = "0", @min = "0", @onkeypress = "return (event.charCode != 8 && event.charCode != 0 && (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46)" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                @Html.Label("Vuelto", htmlAttributes: new { @class = "form-label" })
                            </div>
                            <div class="col-sm-4">
                                @Html.Editor("montovuelto", "0", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="bordered-dolares" role="tabpanel" aria-labelledby="contact-tab">
                        <br />
                        <br />
                        @if (ViewBag.cobrodolar == null)
                        {
                            <div class="row">
                                <div class="col-sm-5">
                                    @Html.Label("Total a pagar:C$", htmlAttributes: new { @class = "form-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.Raw(@ViewBag.totalpagodolar)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    @Html.Label("Tipo cambio de dolar:C$", htmlAttributes: new { @class = "form-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.Raw(@ViewBag.cambiodolar)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    @Html.Label("Monto en dolares", htmlAttributes: new { @class = "form-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.Editor("montopagodolar", "0", new { htmlAttributes = new { @class = "form-control", @oninput = "handleChange(this)", @min = "0", @onkeypress = "return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    @Html.Label("Vuelto", htmlAttributes: new { @class = "form-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.Editor("montovueltocordobas", "0", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        }
                        else
                        {

                            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" style="@(ViewBag.cobrodolar!=null ? "display: block;" : "display: none;")" role="alert">

                                @Html.Raw(@ViewBag.cobrodolar)

                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                    </div>
                </div><!-- End Bordered Tabs -->
            }
            else
            {
                <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" style="@(ViewBag.Mensaje!=null ? "display: block;" : "display: none;")" role="alert">

                    @Html.Raw(@ViewBag.Mensaje)

                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }


        </div>
        <div class="card-footer text-center">
            @if (ViewBag.Mensaje == null)
            {
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-money">Realizar Cobro </i>
                </button>
            }
        </div>
    </div>


}


    <script>
        $(function () {
            $('#tbclientes').DataTable({
                "language": {
                    "url": "/Scripts/es_es.json"
                }, scrollX: true
            })
            var tableIds = ['tbclientes']; // Lista de IDs de las tablas
            redimensionatable(tableIds);
        });




    </script>


