@model IEnumerable<Monografia.Models.Modelo_contenedor.facturacion>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
     }

<div class="card">
    <div class="card-header">
        <h4 class="text-center">Facturación </h4>
    </div>
    <div class="card-body">
        <br>
        @using (Html.BeginForm("Venta", "Facturacion", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="row col-md-6">
                @Html.Label("Código de producto", htmlAttributes: new { @class = "form-label" })

                <div class="input-group mb-3">
                    @Html.Editor("codigoproducto", new { htmlAttributes = new { @class = "form-control", @aria_describedby = "btnbuscar" } })
                    <button class="btn btn-outline-secondary" type="submit" id="btnbuscar">
                        <i class="fa fa-plus">Agregar producto</i>
                    </button>
                </div>
            </div>
        }

        <br>
        <br>
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayName("Codigo de Producto")
                </th>
                <th>
                    @Html.DisplayName("Descripcion")
                </th>
                <th>
                    @Html.DisplayName("Precio de Venta")
                </th>
                <th>
                    @Html.DisplayName("Cantidad")
                </th>
                <th>
                    @Html.DisplayName("Importe")
                </th>
                <th>
                    @Html.DisplayName("Existencia")
                </th>
                <th>
                    Acciones
                </th>

            </tr>


            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodProd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prec_vent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cant)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Impor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.existencia)
                        </td>
                        <td>
                            <a data-modal="" href=@Url.Action("Delete", "Facturacion",new { codigoproducto = item.CodProd }) class="btn btn-danger"> <span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                }
            }

        </table>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="text-center">Operaciones</h4>
    </div>
    <div class="card-body">
        <br>
        <div class="row">
            <div class="col-md-2">
                @using (Html.BeginForm("Facturar", "Facturacion", FormMethod.Get))
                {
                    <a data-modal="" href=@Url.Action("Facturar", "Facturacion") class="btn btn-danger"> <i class="bi bi-cash-coin">&nbsp;Facturar</i></a>
                }
            </div>
        </div>
     
    </div>
</div>





           
          


