@model Monografia.Models.proveedor

@Scripts.Render("~/bundles/jqueryval")

<div class="card">
    <div class="card-header">
        <h4>¿Está seguro de eliminar este proveedor?</h4>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Descripcion:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayName("Teléfono:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayName("Email:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayName("Dirección:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

        </dl>
    </div>
    <div class="card-footer text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save">Guardar</i>
                </button>
        }
    </div>
</div>

