@model Monografia.Models.proveedor



@Scripts.Render("~/bundles/jqueryval")

<div class="card">
    <div class="card-header">
        <h2>Detalle proveedor</h2>
    </div>
    <div class="card-body">

        <dl class="dl-horizontal">

            <dt>
                @Html.Display("Descripción")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.Display("Teléfono")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.Display("Correo")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.Display("Dirección")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

        </dl>
    </div>

</div>

