@model IEnumerable<Monografia.Models.proveedor>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}

@Styles.Render("~/Scripts/Datatable")

<div class="card border-start border-0 border-3 border-info">
    <div class="card-header">
        <h4 class="text-center">proveedores</h4>
    </div>
    
    <div class="card-body">
        <br>
        <div class="col-md-2">
            <a data-modal="" href=@Url.Action("Create", "Admin_proveedores") class="btn btn-primary"> <i class="fa fa-plus"></i>Agregar</a>
        </div>
        <br>
        <br>
        <table id="tbproveedores" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @if (item.Estado == 1)
                            {

                                <div class="form-control " style="width:100%; border-radius:100px;color:#37c406;text-align:center">
                                    Activo

                                </div>
                            }
                            else
                            {
                                <div class="form-control " style="width:100%; border-radius:100px;color:#d00b0b;text-align:center">
                                    Inactivo

                                </div>
                            }
                        </td>
                        <td class="text-center">
                            <a data-modal="" href=@Url.Action("Details", "Admin_proveedores", new { id = item.IdProveedor }) class="btn btn-info rounded-circle"> <i class="fa fa-info"></i></a>
                            <a data-modal="" href=@Url.Action("Edit", "Admin_proveedores", new { id = item.IdProveedor }) class="btn btn-success rounded-circle"> <i class="fa fa-edit"></i></a>
                            <a data-modal="" href=@Url.Action("Delete", "Admin_proveedores", new { id = item.IdProveedor }) class="btn btn-danger rounded-circle"> <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tbproveedores').DataTable({
                    "language": {
                        "url":"/Scripts/es_es.json"
                    }
                })
            });
    </script>
}
