@model Monografia.Models.usuarios_tienda

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pages / Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Scripts/vendor/img/favicon.png" rel="icon">
    <link href="~/Scripts/vendor/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome/css")
    @Styles.Render("~/Content/csscustomproyecto")


    <style>
        .form-control:focus {
            border-color: #D286FE;
            box-shadow: 0 0 0 0.25rem rgba(210, 134, 254, 0.25);
        }
        .has-icons .form-control {
            padding-left: 2.375rem;
        }

        .has-icons .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
        .password-container {
            position: relative;
        }

        #eye {
            position: absolute;
            top: 28%;
            right: 4%;
            cursor: pointer;
            color: lightblue;
        }
   
    </style>
</head>

<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="~/Scripts/vendor/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">LyNAdmin</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Sistema de Facturación y Gestión de inventario</h5>
                                        <p class="text-center small">Ingrese usuario y contraseña</p>
                                    </div>

                                    <form class="row g-3" method="post" novalidate>

                                        <div class="col-12">
                                            <label for="yourUsername" class="form-label">Usuario</label>
                                            <div class="form-group has-icons ">
                                                <span class="bi bi-person form-control-feedback"></span>
                                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @type = "text", @name = "username", @id = "yourUsername", @placeholder = "Usuario", @required = true } })
                                          
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourPassword" class="form-label">Contraseña</label>
                                            <div class="form-group has-icons">
                                                <span class="bi bi-key form-control-feedback"></span>
                                                <div class="password-container">
                                                    @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control", @type = "password", @name = "password", @placeholder = "Contraseña", @required = true, @id = "yourPassword" } })
                                                    <i class="bi bi-eye" id="eye"></i>
                                                 
                                                </div>
                                               
                                            </div>

                                        </div>



                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Ingresar al Sistema</button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="credits">
                                Diseñado por DAAM S.A
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerycustomproyecto")
    @Scripts.Render("~/bundles/bootstrap")

 


        <script>
            const passwordField = document.querySelector("#yourPassword");
            const eyeIcon = document.querySelector("#eye");
           
            eyeIcon.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordField.setAttribute('type', type);
                // toggle the eye / eye slash icon
                const typeicon = eyeIcon.getAttribute('class') === 'bi bi-eye' ? 'bi bi-eye-slash' : 'bi bi-eye';
                eyeIcon.setAttribute('class', typeicon);
            
            });
        </script>
    

</body>

</html>

