@model Monografia.Models.usuarios_tienda

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pages / Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Scripts/vendor/img/favicon.png" rel="icon">
    <link href="~/Scripts/vendor/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome/css")
    @Styles.Render("~/Content/csscustomproyecto")

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.3.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <style>
        .has-icons .form-control {
            padding-left: 2.375rem;
        }

        .has-icons .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
        .password-container {
            position: relative;
        }

        #eye {
            position: absolute;
            top: 28%;
            right: 4%;
            cursor: pointer;
            color: lightblue;
        }
   
    </style>
</head>

<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="~/Scripts/vendor/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">NiceAdmin</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                        <p class="text-center small">Enter your username & password to login</p>
                                    </div>

                                    <form class="row g-3" method="post" novalidate>

                                        <div class="col-12">
                                            <label for="yourUsername" class="form-label">Usuario</label>
                                            <div class="form-group has-icons ">
                                                <span class="bi bi-person form-control-feedback"></span>
                                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @type = "text", @name = "username", @id = "yourUsername", @placeholder = "Usuario", @required = true } })
                                          
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourPassword" class="form-label">Contraseña</label>
                                            <div class="form-group has-icons">
                                                <span class="bi bi-key form-control-feedback"></span>
                                                <div class="password-container">
                                                    @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control", @type = "password", @name = "password", @placeholder = "Contraseña", @required = true, @id = "yourPassword" } })
                                                    <i class="bi bi-eye" id="eye"></i>
                                                 
                                                </div>
                                               
                                            </div>

                                        </div>



                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Ingresar al Sistema</button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="credits">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                                Diseñado por DAAM S.A
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerycustomproyecto")
    @Scripts.Render("~/bundles/bootstrap")

 


        <script>
            const passwordField = document.querySelector("#yourPassword");
            const eyeIcon = document.querySelector("#eye");
           
            eyeIcon.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordField.setAttribute('type', type);
                // toggle the eye / eye slash icon
                const typeicon = eyeIcon.getAttribute('class') === 'bi bi-eye' ? 'bi bi-eye-slash' : 'bi bi-eye';
                eyeIcon.setAttribute('class', typeicon);
            
            });
        </script>
    

</body>

</html>

@*<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Elite login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!-- //Meta-Tags -->
    <!-- Stylesheets -->
    @Styles.Render("~/Content/fontawesome/css")
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' />
    <!--// Stylesheets -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!--//fonts-->


</head>
<body>

    <h1>***L & N***</h1>
    <div class="w3ls-login">
        <!-- form starts here -->
        <form action="#" method="post">
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-user" aria-hidden="true"></i> Usuario :
                </label>
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @type = "text", @name = "name", @placeholder = "", @required = "" } })
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-lock" aria-hidden="true"></i> Contraseña :
                </label>
                @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @type = "password", @name = "password", @placeholder = "", @required = "", @id = "myInput" } })

                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    <label class="check" for="check3">Mostrar contraseña</label>
                </div>
            </div>
            <script>
				function myFunction() {
					var x = document.getElementById("myInput");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
            </script>
            <!-- //script for show password -->
            <div class="w3ls-login  w3l-sub">
                <input type="submit" value="Ingresar al sistema">
            </div>
        </form>
    </div>
    <!-- //form ends here -->
    <!--copyright-->
    <div class="copy-wthree bottom">
        <p>
            © 2021 Sistema de control de inventario y gestion de ventas . All Rights Reserved | Design by D&A
        </p>
    </div>

</body>
</html>*@
