@model IEnumerable<Monografia.Models.usuario_sesion>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}

@Styles.Render("~/Scripts/Datatable")

<div class="card border-start border-0 border-3 border-info">
    <div class="card-header">
        <h4 class="text-center">Sesiones de usuarios</h4>
    </div>
    <div class="card-body">
        <br>
        <br>
        <table id="tbsesiones" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th>
                        @Html.DisplayName("Fecha Inicio Sesion")
                    </th>
                    <th>
                        @Html.DisplayName("Usuario Login")
                    </th>
                    <th>
                        @Html.DisplayName("Estado")
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0; // Inicializa el contador de fila
                }
                @foreach (var item in Model)
                {
                    @Html.HiddenFor(modelItem => item.Idusuario_sesion)
                    i++;
                <tr>
                    <td scope="row">@(i)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_alta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario_alta)
                    </td>
                    <td>
                        @if (item.Estado == 1)
                        {

                            <span class="badge rounded-pill bg-light text-dark open-sans"><i class="fas fa-check fa-lg" style="color: #4ef46f;"></i> Activo</span>
                        }
                        else
                        {
                            <span class="badge rounded-pill bg-gradient text-dark open-sans"><i class="fas fa-times fa-lg" style="color: #ff0a0a;"></i>Inactivo</span>
                        }
                    </td>
                    <td class="text-center">
                        <a data-modal="" href=@Url.Action("Delete", "Usuariologin",new { idsesion = item.Idusuario_sesion })><i class="far fa-trash-alt fa-lg" style="color: #ff0a0a;"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>




@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tbsesiones').DataTable({
                    "language": {
                        "url":"/Scripts/es_es.json"
                    },scrollX:true
                })
                var tableIds = ['tbsesiones']; // Lista de IDs de las tablas
                redimensionatable(tableIds);
            });
    </script>
}
