@model IEnumerable<Monografia.Models.usuario_sesion>

@{
    Layout = "~/Views/Menu/Menu_tienda.cshtml";
}

@Styles.Render("~/Content/datatables")

<div class="card">
    <div class="card-header">
        <h4 class="text-center">Sesiones de usuarios</h4>
    </div>
    <div class="card-body">
        <br>
        <br>
        <table id="tbsesiones" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Fecha Inicio Sesion")
                    </th>
                    <th>
                        @Html.DisplayName("Usuario Login")
                    </th>
                    <th>
                        @Html.DisplayName("Estado")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @Html.HiddenFor(modelItem => item.Idusuario_sesion)
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_alta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario_alta)
                        </td>
                        <td>
                            @if (item.Estado == 1)
                            {

                                <div class="form-control " style="width:100%; border-radius:100px;color:#37c406;text-align:center">
                                    Activo

                                </div>
                            }
                            else
                            {
                                <div class="form-control" style="width:100%; border-radius:100px;color:#d00b0b;text-align:center">
                                    Inactivo
                                </div>
                            }
                        </td>
                        <td>
                            <a data-modal="" href=@Url.Action("Delete", "Usuariologin",new { idsesion = item.Idusuario_sesion }) class="btn btn-danger"> <span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>




@section Scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tbsesiones').DataTable({
                    "language": {
                        "url":"/Scripts/es_es.json"
                    }
                })
            });
    </script>
}
